In [140]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from geopy.distance import geodesic as GD
import math

In [136]:
df = pd.DataFrame()
num = 500
df['Number'] = range(num)
df['Gender'] = np.random.choice(['Male','Female','Nonbinary'], size=num, p=[0.47,0.47,0.06])
df['Chatbot'] = np.random.choice(['Yes', 'No'], size=num, p=[0.05, 0.95])
df['Height'] = np.random.randint(140, 200, num)
df['Age'] = np.random.randint(18, 35, num)
df['Education'] = np.random.choice(['High School','Bachelor','Master','PhD'], size=num, p=[0.4, 0.48, 0.1, 0.02])
df['E or I'] = np.random.choice(['E', 'I'], size=num, p=[0.5, 0.5])
df['S or N'] = np.random.choice(['S', 'N'], size=num, p=[0.5, 0.5])
df['T or F'] = np.random.choice(['T', 'F'], size=num, p=[0.5, 0.5])
df['J or P'] = np.random.choice(['J', 'P'], size=num, p=[0.5, 0.5])
df['Latitude'] = np.random.randint(-90, 90, num)
df['Longitude'] = np.random.randint(-180, 180, num)
for i in range(num):
    if df.loc[i,'Gender'] == 'Male':
        df.loc[i,'Gender Prefer'] = np.random.choice(['Male', 'Female', 'Nonbinary', 'All'], p=[0.1, 0.78, 0.02, 0.1])
    if df.loc[i,'Gender'] == 'Female':
        df.loc[i,'Gender Prefer'] = np.random.choice(['Male', 'Female', 'Nonbinary', 'All'], p=[0.78, 0.1, 0.02, 0.1])
    if df.loc[i,'Gender'] == 'Nonbinary':
        df.loc[i,'Gender Prefer'] = np.random.choice(['Male', 'Female', 'Nonbinary', 'All'], p=[0.1, 0.1, 0.7, 0.1])
df['Height Prefer'] = df['Height'] + np.random.randint(-10, 10, num)
df['Age Prefer'] = df['Age'] + np.random.randint(-2, 2, num)
df['Education Prefer'] = np.random.choice(['High School','Bachelor','Master','PhD'], size=num, p=[0.4, 0.48, 0.1, 0.02])
df['E or I Prefer'] = np.random.choice(['E', 'I'], size=num, p=[0.5, 0.5])
df['S or N Prefer'] = np.random.choice(['S', 'N'], size=num, p=[0.5, 0.5])
df['T or F Prefer'] = np.random.choice(['T', 'F'], size=num, p=[0.5, 0.5])
df['J or P Prefer'] = np.random.choice(['J', 'P'], size=num, p=[0.5, 0.5])
df['Distance Prefer'] = np.random.randint(0, 300, num)
df

,Number,Gender,Chatbot,Height,Age,Education,E or I,S or N,T or F,J or P,...,Longitude,Gender Prefer,Height Prefer,Age Prefer,Education Prefer,E or I Prefer,S or N Prefer,T or F Prefer,J or P Prefer,Distance Prefer
0,0,Female,No,169,33,High School,E,N,T,P,...,-62,Male,175,34,Bachelor,E,S,F,P,174
1,1,Female,No,179,33,Bachelor,E,N,F,P,...,104,Male,169,34,Bachelor,I,N,F,P,18
2,2,Male,No,191,28,High School,E,S,T,P,...,-126,Female,200,28,Bachelor,E,S,T,J,189
3,3,Male,No,150,27,Bachelor,I,S,T,J,...,177,Female,141,28,Bachelor,I,N,T,J,42
4,4,Female,No,151,26,Bachelor,E,N,T,J,...,133,Male,153,25,High School,I,N,T,P,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,Male,Yes,192,23,High School,E,N,T,P,...,-37,Female,187,21,Bachelor,I,S,T,P,261
496,496,Male,No,153,22,Bachelor,E,N,F,J,...,-148,Female,160,22,High School,E,S,F,P,273
497,497,Female,No,156,28,Bachelor,I,N,T,J,...,-140,Male,158,26,Bachelor,E,N,F,P,33
498,498,Female,No,194,20,High School,E,N,T,J,...,50,Male,201,21,Bachelor,E,N,F,J,97
499,499,Male,No,183,33,PhD,I,S,T,J,...,-11,Female,186,34,High School,E,S,F,J,197

In [138]:
db = df.copy()
for i in range(len(db)):
    if db.loc[i,'Education'] == 'High School':
        db.loc[i,'Education'] = 0
    if db.loc[i,'Education'] == 'Bachelor':
        db.loc[i,'Education'] = 1
    if db.loc[i,'Education'] == 'Master':
        db.loc[i,'Education'] = 2
    if db.loc[i,'Education'] == 'PhD':
        db.loc[i,'Education'] = 3
    if db.loc[i,'E or I'] == 'E':
        db.loc[i,'E or I'] = 0
    else:
        db.loc[i,'E or I'] = 1
    if db.loc[i,'S or N'] == 'S':
        db.loc[i,'S or N'] = 0
    else:
        db.loc[i,'S or N'] = 1
    if db.loc[i,'T or F'] == 'T':
        db.loc[i,'T or F'] = 0
    else:
        db.loc[i,'T or F'] = 1
    if db.loc[i,'J or P'] == 'J':
        db.loc[i,'J or P'] = 0
    else:
        db.loc[i,'J or P'] = 1
    if db.loc[i,'Education Prefer'] == 'High School':
        db.loc[i,'Education Prefer'] = 0
    if db.loc[i,'Education Prefer'] == 'Bachelor':
        db.loc[i,'Education Prefer'] = 1
    if db.loc[i,'Education Prefer'] == 'Master':
        db.loc[i,'Education Prefer'] = 2
    if db.loc[i,'Education Prefer'] == 'PhD':
        db.loc[i,'Education Prefer'] = 3
    if db.loc[i,'E or I Prefer'] == 'E':
        db.loc[i,'E or I Prefer'] = 0
    else:
        db.loc[i,'E or I Prefer'] = 1
    if db.loc[i,'S or N Prefer'] == 'S':
        db.loc[i,'S or N Prefer'] = 0
    else:
        db.loc[i,'S or N Prefer'] = 1
    if db.loc[i,'T or F Prefer'] == 'T':
        db.loc[i,'T or F Prefer'] = 0
    else:
        db.loc[i,'T or F Prefer'] = 1
    if db.loc[i,'J or P Prefer'] == 'J':
        db.loc[i,'J or P Prefer'] = 0
    else:
        db.loc[i,'J or P Prefer'] = 1
db

,Number,Gender,Chatbot,Height,Age,Education,E or I,S or N,T or F,J or P,...,Longitude,Gender Prefer,Height Prefer,Age Prefer,Education Prefer,E or I Prefer,S or N Prefer,T or F Prefer,J or P Prefer,Distance Prefer
0,0,Female,No,169,33,0,0,1,0,1,...,-62,Male,175,34,1,0,0,1,1,174
1,1,Female,No,179,33,1,0,1,1,1,...,104,Male,169,34,1,1,1,1,1,18
2,2,Male,No,191,28,0,0,0,0,1,...,-126,Female,200,28,1,0,0,0,0,189
3,3,Male,No,150,27,1,1,0,0,0,...,177,Female,141,28,1,1,1,0,0,42
4,4,Female,No,151,26,1,0,1,0,0,...,133,Male,153,25,0,1,1,0,1,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,Male,Yes,192,23,0,0,1,0,1,...,-37,Female,187,21,1,1,0,0,1,261
496,496,Male,No,153,22,1,0,1,1,0,...,-148,Female,160,22,0,0,0,1,1,273
497,497,Female,No,156,28,1,1,1,0,0,...,-140,Male,158,26,1,0,1,1,1,33
498,498,Female,No,194,20,0,0,1,0,0,...,50,Male,201,21,1,0,1,1,0,97
499,499,Male,No,183,33,3,1,0,0,0,...,-11,Female,186,34,0,0,0,1,0,197

In [216]:
Like = []
Dislike = []
Rest = []
temp = []
for i in range(num):
    Like.append(temp)
    Dislike.append(temp)
for i in range(num):
    temp = []
    if db.loc[i,'Gender Prefer'] != 'All':
        for j in range(num):
            if j!=i and db.loc[i,'Gender Prefer']==db.loc[j,'Gender']:
                temp.append(j)
    else:
        for j in range(num):
            if j!=i:
                temp.append(j)
    Rest.append(temp)

In [217]:
def factor(i,j,db):
    height = abs(db.loc[i,'Height Prefer']-db.loc[j,'Height'])
    age = abs(db.loc[i,'Age Prefer']-db.loc[j,'Age'])
    education = abs(db.loc[i,'Education Prefer']-db.loc[j,'Education'])
    ei = abs(db.loc[i,'E or I Prefer']-db.loc[j,'E or I'])
    sn = abs(db.loc[i,'S or N Prefer']-db.loc[j,'S or N'])
    tf = abs(db.loc[i,'T or F Prefer']-db.loc[j,'T or F'])
    jp = abs(db.loc[i,'J or P Prefer']-db.loc[j,'J or P'])
    distance = abs(db.loc[i,'Distance Prefer']-GD(np.array([db.loc[i,'Latitude'],db.loc[i,'Longitude']]),np.array([db.loc[j,'Latitude'],db.loc[j,'Longitude']])).km)
    return np.array([height,age,education,ei,sn,tf,jp,distance])

In [218]:
def match(n, Like, Dislike, Rest, db):
    if db.loc[n,'Chatbot'] == 'Yes':
        return -1 # -1 means to match chatbot
    else:
        if len(Rest[n]) == 0: # if there's no person in the rest pool, we will return a chatbot
            return -1
        elif len(Like[n]) == 0 or len(Dislike[n]) == 0:
            return np.random.choice(Rest[n])
        else:
            X_train = []
            y_train = []
            for i in Like[n]:
                X_train.append(factor(n,i,db))
                y_train.append(1)
            for i in Dislike[n]:
                X_train.append(factor(n,i,db))
                y_train.append(0)
            model = LogisticRegression()
            model.fit(X_train, y_train)
            ans = Rest[n][0]
            temp = (model.intercept_+factor(n,ans,db)@model.coef_[0])[0]
            for j in Rest[n]:
                if (model.intercept_+factor(n,j,db)@model.coef_[0])[0]>temp:
                    temp = (model.intercept_+factor(n,j,db)@model.coef_[0])[0]
                    ans = j
            if np.random.choice([0, 1], p=[0.25, 0.75]) ==1:
                return ans
            else:
                return np.random.choice(Rest[n])

In [221]:
match(0, Like, Dislike, Rest, db)

218